.products-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 45px;
   width: 80%;
   max-width: 1200px;
   margin: 30px auto 0;
}
.products-element {
   padding: 25px 20px;
   background-color: var(--color-white);
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   box-shadow:1px 1px 25px 0px rgba(0,0,0,0.1);
   -webkit-box-shadow:1px 1px 64px 0px rgba(0,0,0,0.1);
   -moz-box-shadow:1px 1px 64px 0px rgba(0,0,0,0.1);
   border-radius: 3px;

}
.products-element__name {
   margin-bottom: auto;
   text-transform: uppercase;
   color: #444;
   text-align: center;
}
.products-element__img {
   width: 100%;
   height: 270px;
   object-fit: contain;
}
.products-element__price {
   display: block;
   font-size: 18px;
   margin: var(--spacing-light) 0;
   color: rgb(133, 133, 133);
}
.products-element__btn {
   margin-bottom: 10px;
   padding: var(--spacing-light) var(--spacing-medium);
   cursor: pointer;
   font-family: inherit;
   font-size: inherit;
   outline: none;
   background: none;
   border-radius: 3px;
   border: 1px solid #808080;
}
.products-element__btn_active {
   border: 1px solid transparent;
   background-image: linear-gradient(to right, #EB3349,#F45C43);
}